<?xml version="1.0" encoding="UTF-8"?>

<web-app>

<servlet>
<servlet-name>sopra1</servlet-name>
<servlet-class>com.sopra.servlet.FormHandlingPost</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>sopra1</servlet-name>
<url-pattern>/add1</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>sopra2</servlet-name>
<servlet-class>com.sopra.servlet.FormHandlingPost</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>sopra2</servlet-name>
<url-pattern>/add2</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>sopra3</servlet-name>
<servlet-class>com.sopra.servlet.FormHandlingGet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>sopra3</servlet-name>
<url-pattern>/add3</url-pattern>
</servlet-mapping>
</web-app>